@font-face {
    font-family: 'TT Lakes Regular';
    src: url('TTLakes-Regular.eot');
    src: url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('TTLakes-Regular.woff') format('woff'),
    url('TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
    font-family: 'TT Lakes Bold';
    src: url('TTLakes-Bold.eot');
    src: url('TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('TTLakes-Bold.woff') format('woff'),
    url('TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
   * {
    box-sizing: border-box;
   }
   body {
    display: flex;
    justify-content: flex-start;
    margin: 10;
    padding: 0;
    width: 100%;
   }
   .header {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
   }
   
#burger-toggle {
  display: none;
}
.burger-btn {
  width: 32px;
  cursor: pointer;
}
.burger-btn img {
 display: flex;
}
.burger-menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: #fff;
  display: none;
  flex-direction: column;
  padding: 16px;
}
.burger-menu a {
  padding: 12px 0;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #eee;
}
#burger-toggle:checked ~ .burger-menu {
  display: flex;
}
.repair {
  cursor: pointer;
}
.checkstatus {
  cursor: pointer;
}
.services {
  
}