@font-face {
    font-family: 'TT Lakes Regular';
    src: url('./FONT/TTLakesCondensed-Regular.eot');
    src: url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('./FONT/TTLakesCondensed-Regular.woff') format('woff'),
    url('./FONT/TTLakesCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
    font-family: 'TT Lakes Bold';
    src: url('./FONT/TTLakes-Bold.eot');
    src: url('./FONT/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('./FONT/TTLakes-Bold.woff') format('woff'),
    url('./FONT/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
   * {
    box-sizing: border-box;

   }
   body {
    display: flex;
    justify-content: flex-start;
    margin: 10;
    padding: 0;
  

   }
   .header {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
   }
   
#burger-toggle {
  display: none;
}
.burger-btn {
  width: 32px;
  cursor: pointer;
}
.burger-btn img {
 display: flex;
}
.burger-menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: #fff;
  display: none;
  flex-direction: column;
  padding: 16px;
}
.burger-menu a {
  padding: 12px 0;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #eee;
}
#burger-toggle:checked ~ .burger-menu {
  display: flex;
}
.call{
  cursor: pointer;
}
.profile{
  cursor: pointer;
}
.chat{
  cursor: pointer;
}

.repair {
  cursor: pointer;
}
.checkstatus {
  cursor: pointer;
}
.main {
background-color: #F8F8F8;
width: 100%;
height: 100%;

}
ul{
  list-style-type:none;
  display: flex;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  background-color: #FFFFFF;
flex-wrap: wrap;
border-color: #B8FFEC;
gap: 20px;
}

.text-expand {
  display: ;
  padding: 12px 0;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #eee;
  font-size: 20px;
}
.read {
   width: 32px;
  cursor: pointer;
margin: 10px;
display: flex;
}
.picture{
display: flex;
justify-content: center;
align-items: center;
  margin: 20px;
  width: 531px;
  height: 383px;
}
h2{
  display: flex;
 justify-content: flex-start;
 border-left: 3px solid #41F6D7;
 font-size: 28px;
}
h5{
  font-size: 20px;
}
